<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-header">
        <a class="navbar-brand text-light" href="/"><mark><strong>Gallery</strong></mark></a>
      </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <div class="container-fluid landing">
          <a href="/admin" class="scroll"><button class="btn btn-sm btn-info image D-block mx-auto">Login as Admin</button></a>
      </div>
      </ul>
      <form class="form-inline my-2 my-md-0"  action="/search" role="search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search from Categories" name="imagesearch" aria-label="Search">
       <a href="#"> <button class="btn btn-default btn-md my-2 my-sm-0 bg-light" type="submit">Search</button></a>
        
      </form>
    </div>
  </nav>